{% extends 'barberLayout.twig' %}

{% block title %}
Times
{% endblock %}
{% block content %}
<table>
    <thead>
        <th>Available Time</th>
        <th>Reserve</th>
        <th></th>
    </thead>
{% for reservationDate in availableTimes|slice((currentPage - 1) * pageLength, pageLength) %}
    <tr>
        <td>{{ reservationDate }}</td>
        <td>
            <form action="/barber/reserve" method="get">
            <input type="hidden" name="barber" value="barber">    
            <button type="submit" name="reservationDate" value="{{ reservationDate }}">Reserve Time</button> 
        </td>
    </tr>
{% endfor %}
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            {% if currentPage != 1 %}
            <a class="page-link" href="/barber/newReservation/{{ currentPage - 1 }}?barber=barber" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
            {% endif %}
        <li class="page-item">
            {% if not lastPage %}
            <a class="page-link" href="/barber/newReservation/{{ currentPage + 1 }}?barber=barber" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
  </ul>
</nav>
{% endif %}
{% endblock %}