{% extends 'barberLayout.twig' %}

{% block title %}
Times
{% endblock %}
{% block content %}
<table>
    <thead>
        <th>Available Time</th>
        <th>Reserve</th>
        <th></th>
    </thead>
{% for time in availableTimes|slice((currentPage - 1) * pageLength, pageLength) %}
    <tr>
        <td>{{ time }}</td>
        <td>
            <form action="/barber/reserve" method="get">
            <input type="hidden" name="barber" value="barber">    
            <button type="submit" name="reservationDate" value="{{ time }}">Reserve Time</button> 
        </td>
    </tr>
{% endfor %}
</table>
{% if currentPage != 1 %}
    <a href="/barber/newReservation/{{ currentPage - 1 }}">Previous</a>
{% endif %}
{% if not lastPage %}
    <a href="/barber/newReservation/{{ currentPage + 1 }}">Next</a>
{% endif %}
{% endblock %}