{% extends 'layout.twig' %}

{% block title %}
Times
{% endblock %}
{% block content %}
<table>
    <thead>
        <th>Available Time</th>
        <th>Reserve</th>
        <th></th>
    </thead>
    {#{{ dump(params) }}#}
{% for param in params %}
    <tr>
        <td>{{ param }}</td>
        <td>
            <form action="/customer/reserve"  method="get">
            <button type="submit" name="reservationDate" value="{{ param }}">Reserve Time</button> 
        </td>
    </tr>
{% endfor %}
</table>
{% endblock %}