{% extends 'customerLayout.twig' %}

{% block title %}
Reserve Time
{% endblock %}
{% block content %}
<h3>{{ formParameters.firstname }}, thank you! See you on {{ formParameters.arrival|date("Y-m-d") }} at {{ formParameters.arrival|date("H:i") }}!</h3>
    <form action="/"  method="get">
    <button type="submit" value="checkReservation">Check Reservation</button> 
{% endblock %}