<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div style="border: solid 1px">
        <a href="/barber">Barber</a>
        <a href="/customer">Customer</a>
        <hr>
        <form action="/customer/search" method="get">
            <label>Date</label>
            <input type="text" name="date">
            <input type="submit" value="Search">
        </form>
    </div>
    {% block content %}{% endblock %}
</body>
</html>
