{% extends 'layout.twig' %}

{% block title %}
Reserve Time
{% endblock %}
{% block content %}
<h3>Thank you! See you soon!</h3>
    <form action="/"  method="get">
    <button type="submit" value="checkReservation">Check Reservation</button> 
{% endblock %}